@charset "utf-8";
/* CSS Document */


body { font-family:  'Noto Sans KR','Roboto', sans-serif; font-size:1.0rem; line-height:1; color:#000; }
#wrap { overflow: hidden; }




/* header */
#header {padding: 50px 7.812% 20px 7.812%;background: #fff;box-sizing: border-box;}/*padding: 50px 150px 0 150px*/

#header.fix {position: fixed;;width: 100%;left: 0;top: 0;z-index: 9999;}

#header .inner {}
#header h1 {text-align: center;}
#header form {text-align: center;;}
#header form fieldset {border-bottom: 1px solid #e4e4e4;display: inline-block;padding:10px 0;}
#header form  input[type="text"] {width: 500px;height: 50px;font-size: 1.25rem;color: #999;text-align: center;}/*font-size: 20px*/
#header form  input[type="submit"] {background: url('../images/serch_icon.png') no-repeat center center;font-size: 0; width:45px ;height: 45px;background-size: contain;}

#header .g_inner {display: flex;justify-content: space-between;margin-top:60px;align-items:center; }
#header .gnb > li  {display: inline-block;margin-right: 2.604vw;}/*margin-right: 50px*/
#header .gnb > li a {font-size:1.5rem; font-weight: bold;font-family: 'Roboto';}/*font-size:24px;*/
#header .sub_menu li {display: inline-block;margin-left: 2.604vw;}
#header .sub_menu li a {font-size:1.5rem; font-weight: bold;font-family: 'Roboto';}

#header .sub_menu_icon {display: none;}
#header .i_subm li {display: inline-block;padding-left: 10px;}

#header .login {position: absolute;top: 50px;right:7.812%;}
#header .login li {display: inline-block;margin-left: 15px;}

#header .m_btn {font-size: 0;width:40px;height: 3px;background: #000;position: absolute;top: 80px; left:30px;display: none;; }
#header .m_btn:after {content: "";width:40px;height: 3px;background: #000;position: absolute;top: 15px;left: 0;}
#header .m_btn:before {content: "";width:40px;height: 3px;background: #000;position: absolute;top: -15px;left: 0;}

#header .m_gnb {z-index: 99999;;background: #dec9c9;position: fixed;width: 72.916%;height: 100%;left: -100%;top: 130px;}
#header .m_gnb >.mm_gnb> li {padding: 40px 0 40px 100px ;border-bottom: 1px solid rgba(255,255,255,0.5); }
#header .m_gnb >.mm_gnb > li:nth-child(1) {background: url(../images/jewerl_icon.png) no-repeat 30px center;}

#header .m_gnb >.mm_gnb > li:nth-child(2) {background: url(../images/watch_icon.png) no-repeat 30px center;}

#header .m_gnb .mm_gnb > li:nth-child(3) {background: url(../images/wedding_icon.png) no-repeat 30px center;}

#header .m_gnb .mm_gnb > li:nth-child(4) {background: url(../images/life_icon.png) no-repeat 30px center;}

#header .m_gnb .mm_gnb > li:nth-child(5) {background: url(../images/bag_icon.png) no-repeat 30px center;}

#header .mm_sub_menu {border-top: 1px solid rgba(255,255,255,0.5); position: absolute;left:0;bottom:0;transform: translateY(-50%);width: 100%;}
#header .mm_sub_menu > li {padding: 30px 0 30px 100px; ;}

#header .mm_sub_menu > li:nth-child(1) {background: url(../images/service_icon_pink.png) no-repeat 35px center;}
#header .mm_sub_menu > li:nth-child(2) {background: url(../images/cartier_icon_pink.png) no-repeat 35px center;}

#header .mm_sub_menu >li:nth-child(3) {background: url(../images/news_icon_pink.png) no-repeat 35px center;}




#header .mm_sub_menu > li a {font-size:1.25rem;font-weight: bold;}/*font-size:20px*/



#header .m_gnb .mm_gnb > li a {font-size: 1.5625rem;font-weight: bold;}/*font-size: 25px*/



/* Tablets*/

@media all and (min-width : 950px) and (max-width : 1200px) {
    #header .sub_menu_icon {display: block;}
    #header .sub_menu > li {display: none;}
}

/* Mobile */
@media all and (max-width : 949px) {
    #header form  input[type="text"] {display: none;}
    #header h1 {position: absolute;top: 50px;left: 50%;transform: translateX(-50%);}
    #header .gnb > li {display: none;}
    #header form fieldset {width:0;}
    #header .inner {display: flex;justify-content: }
    #header input[type="submit"] {position: absolute;top: 55px;right: 160px;}
    #header .login {right: 30px;order: 3;}
    
    #header .sub_menu {display: none;}
    #header .m_btn {display: block;cursor: pointer;}
}



#contents {}
#main_banner {top: ;height: 475px;position: relative;text-align: center;}
#main_banner h2 {display: none;}

#main_banner .mb li.mb1 {background: url(../images/mb1.png) no-repeat 60% top;background-size: cover}
#main_banner .mb li.mb2 {background: url(../images/mb2.png) no-repeat center top;background-size: cover}

#main_banner .mb li.mb3 {background: url(../images/mb3.png) no-repeat 60% top;background-size: cover;}


#main_banner .mb li {height: 475px;width: 100%;}





/* pager  */

#main_banner .bx-pager { display: none;position:absolute; bottom:-20px; left:0;;z-index: 999;;}
#main_banner .bx-pager-item { float:left; ;}
#main_banner .bx-pager a { background:#1e1c1d; font-size: 0; display:block; width:32.2vw; height:20px; margin: 0; transition:all 0.2s; }
#main_banner .bx-pager a.active { background:#4e121c; width:32.2vw; }

/* direction */
#main_banner .bx-controls-direction a { position: absolute; top: 50%; margin-top: -20px; width: 60px; height: 60px;; text-indent: -9999px; }
#main_banner .bx-prev { left: 5%;; background: rgba(0,0,0,0.3) url('../images/pre_icon.png') no-repeat center; }
#main_banner .bx-next { right: 5%;;background: rgba(0,0,0,0.3) url('../images/next_icon.png') no-repeat center; }




/* Mobile */
@media all and (max-width : 949px) {
 #main_banner .bx-controls-direction a { display: none; }
 
    #main_banner .bx-pager { display: block;}  
    
    
}


/* Tablets*/

@media all and (min-width : 950px) and (max-width : 1200px) {
    #header .sub_menu_icon {display: block;}
    #header .sub_menu > li {display: none;}
}

/* Mobile */
@media all and (max-width : 949px) {
    #header form  input[type="text"] {display: none;}
    #header h1 {position: absolute;top: 50px;left: 50%;transform: translateX(-50%);}
    #header .gnb > li {display: none;}
    #header form fieldset {width:0;}
    #header .inner {display: flex;justify-content: }
    #header input[type="submit"] {position: absolute;top: 55px;right: 160px;}
    #header .login {right: 30px;order: 3;}
    
    #header .sub_menu {display: none;}
    #header .m_btn {display: block;cursor: pointer;}
}



/* collection */

#collection {padding:60px 7.812% 7.812% 7.812% ;}/*padding 60px 150px*/
#collection h2 {font-size:2.5rem;font-family: 'Roboto';font-weight: 900;padding-bottom: 70px; }/*font-size:40px*/

#collection .col_1 {display: flex;}
#collection .col_2 {display: flex;flex-direction: row-reverse;margin-top: 110px; }
#collection  img {width: 60%;}
#collection  dl {width: 40%;text-align: center;display: flex;flex-direction: column;justify-content: center;}
#collection  dl dt {font-size:1.875rem;font-weight: bold;padding-bottom: 60px; }/*font-size:30px;*/
#collection dl dd {font-size: 1.125rem;line-height: 2;}/*font-size: 18px*/

#collection dl .btn a {transition: background 0.5s;background: #4d121c;color: #fff;display: inline-block;padding:20px 50px;margin-top:40px;  }
#collection dl .btn a:hover {background: #1f1c1d;} 

/* Tablets*/

@media all and (min-width : 950px) and (max-width : 1200px) {
    #collection .col_1, #collection .col_2  {flex-wrap: wrap;}
    #collection  img {width: 100%;}
    #collection  dl {width: 100%;padding-top: 30px;}
    #collection dl dt {padding-bottom: 0;}
    #collection dd:nth-of-type(1) {display: none;}
}

/* Mobile */
@media all and (max-width : 949px) {
    #collection {padding:60px 0 7.812% 0 ;}
    #collection h2 {padding-left: 20px;}
   #collection .col_1, #collection .col_2  {flex-wrap: wrap;}
    #collection  img {width: 100%;}
    #collection  dl {width: 100%;padding-top: 30px;}
    #collection dl dt {padding-bottom: 0;}
    #collection dd:nth-of-type(1) {display: none;}
}


/* new_product */

#new_product {background: #1f1c1d;color: #fff;padding:60px 7.812% 7.812% 7.812% ;width: 100%;box-sizing: border-box;position: relative;}/*padding 60px 150px*/

#new_product h2 {font-size:2.5rem;font-family: 'Roboto';font-weight: 900;padding-bottom: 70px; }/*font-size:40px*/


#new_product .new_list {height: 350px;}
#new_product .new_list li {;height: 350px;display: flex;flex-direction: column;justify-content: center;align-items: center;;}
#new_product ul li a img {transition: transform 0.5s;width: 100%;height: 222px;overflow: hidden; display: inline-block;}
#new_product ul li a {; color: #fff;text-align: center;display: inline-block;overflow:hidden; }
#new_product ul li a:hover img {transform: scale(1.1,1.1);}

#new_product ul li p {line-height: 2; }
#new_product ul li .p_name {font-size:1.125rem;line-height: 1.2;padding-top: 10px;}/*font-size:18px; */
#new_product ul li .material{font-size:0.875rem ;}/*{font-size:14px ;}*/
#new_product ul li .price{font-size:1.25rem; }/*{font-size:20px; */




/* story */

#story {background: url('../images/story_bg.jpg') no-repeat center;;background-size: cover;;padding:7.812%;}/*padding:150px;*/

#story .inner {display: flex;justify-content: space-between;}

#story .photo {width: 50%;background: url('../images/story.jpg') no-repeat center;height: 400px;background-size: contain;position: relative;}

#story .play {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);cursor: pointer;}

#story .desc {width: 50%;padding-left: 50px;box-sizing: border-box;}

#story .desc h2 {font-size:2.5rem;font-family: 'Roboto';font-weight: 900;padding-bottom: 70px; }/*font-size:40px*/

#story .desc p {font-size:1.125rem;line-height: 2;}/*font-size:18px; }*/
#story .desc .more  {padding-top:100px; }

/* Tablets*/

@media all and (min-width : 950px) and (max-width : 1200px) {
   #story .inner {flex-direction: column;display: flex;justify-content: center;;;align-items: center;}
    #story .photo {width: 100%}
    #story .desc {width: 100%;padding-left: 10%;padding-top: 70px;}
    
    #story .desc h2 {padding-bottom: 30px;}
    #story .desc .more  {padding-top:30px; }
}

/* Mobile */
@media all and (max-width : 949px) {
   #story .inner {display: flex;justify-content: space-between;flex-wrap: wrap;}
    #story .photo {width: 100%;}
    #story .desc {width: 100%;padding-left: 0;padding-top: 30px;display: flex;justify-content: space-between;}
    #story .desc h2 {padding-bottom: 0;display: inline-block;}
    #story .desc .more  {padding-top:0;display: inline-block;;}
    #story .desc .txt {display: none;}
}

/* news  */

#news {padding: 5.208% 7.812%;background: #4d121c;}/*padding: 100px 150px;*/

#news h2 {font-size:2.5rem;font-family: 'Roboto';font-weight: 900;padding-bottom: 30px;color: #fff; }/*font-size:40px*/
#news .inner {display: flex;justify-content: space-between;height:600px; }

#news .news1 {background: url(../images/news1.jpg) no-repeat center;background-size: cover;height: 400px;width: 40%;position: relative;align-self: flex-start;}

#news .news1 div {background: rgba(0,0,0,0.7);width: 45%;height: 100%;position: absolute;top: 0;right: 0;color: #fff;padding: 30px;box-sizing: border-box;}
#news .news1 div p {line-height: 2;}
#news .news1 div .date {position: absolute;right: 30px;top: 150px;}
#news .news1 div .more a {transition: background 0.5s;color: #fff;border: 1px solid #fff;display: inline-block;padding: 5px 15px;position: absolute;bottom: 30px;}
#news .news1 div .more a:hover {background: #fff;color: #000;;}


#news .news2 {background: url(../images/news2.jpg) no-repeat center;background-size: cover;height: 400px;width: 40%;position: relative;align-self: flex-end;}

#news .news2 div {background: rgba(0,0,0,0.7);width: 45%;height: 100%;position: absolute;top: 0;right: 0;color: #fff;padding: 30px;box-sizing: border-box;}
#news .news2 div p {line-height: 2;}
#news .news2 div .date {position: absolute;right: 30px;top: 150px;}
#news .news2 div .more a {transition: background 0.5s;color: #fff;border: 1px solid #fff;display: inline-block;padding: 5px 15px;position: absolute;bottom: 30px;}
#news .news2 div .more a:hover {background: #fff;color: #000;;}
/* Tablets*/

@media all and (min-width : 950px) and (max-width : 1200px) {
    #news .inner {flex-direction: column;height:730px; }
    #news .news1  {width: 65%;}
    #news .news2 {width: 65%;margin-top: 50px;}
}

/* Mobile */
@media all and (max-width : 949px) {
  #news .inner {flex-direction: column;height:730px; }
        #news .news1, #news .news2 {width: 100%;margin-bottom: 50px;} 
    
}


/* banner_set */
#banner_set {padding: 5.208% 7.812%;}/*padding: 100px 150px;*/
#banner_set h2 {display: none;}
#banner_set .inner {display: flex;justify-content: space-between;}
#banner_set dl{background: #dfdbcf;width:25%;height: 270px;padding: 35px;box-sizing: border-box;border-radius: 30px 0 30px 0;}

#banner_set dl:nth-child(2) {background: url(../images/faq_icon.png) no-repeat 170px 25px #dfdbcf; }

#banner_set dl:nth-child(3) {background: url(../images/boutique_icon.png) no-repeat 170px 25px #dfdbcf;}

#banner_set dl dt {font-size: 1.75rem;font-weight: bold;font-family: 'Roboto';padding-bottom: 30px;}/*font-size: 28px*/
#banner_set dl dd {font-size:1.25rem;line-height: 2; }/*font-size:20px*/

#banner_set dl:nth-child(1) dd, 
#banner_set dl:nth-child(2) dd {
    background: url(../images/point.png) no-repeat 0 15px;padding-left: 20px;
}

#banner_set dl:nth-child(3) dd fieldset {
    height: 50px;width: 100%;background: #fff;border-radius: 10px;margin-top: 50px;
}
#banner_set dl:nth-child(3) dd input[type="text"] {height: 40px;padding-left: 10px;box-sizing: border-box;width: 80%;font-size: 1.25rem;}/*font-size: 20px;*/

#banner_set dl:nth-child(3) dd input[type="submit"]
{font-size: 0;background: url(../images/serch_icon.png) no-repeat;width: 35px;height: 35px;background-size: contain;}


/* Tablets*/

@media all and (min-width : 950px) and (max-width : 1200px) {
   #banner_set .inner {flex-wrap: wrap;}
    #banner_set dl:nth-child(1) {width: 45%;}
     #banner_set dl:nth-child(2) {width: 45%;}
     #banner_set dl:nth-child(3) {width: 100%;margin-top: 5%;;position: relative;height: 100px}
    #banner_set dl:nth-child(3) dd {position: absolute;right:100px;top:-20px; }
}

/* Mobile */
@media all and (max-width : 949px) {
    #banner_set dl {width: 30%;height: 100px;}
    #banner_set dl dd {display: none;}
    #banner_set dl:nth-child(2) {background: url(../images/faq_icon.png) no-repeat 90% 50% #dfdbcf;}

#banner_set dl:nth-child(3) {background: url(../images/boutique_icon.png) no-repeat 90% 50% #dfdbcf;}
    
}


/*footer*/

#footer {border-top: 1px solid #ddd;text-align: center;width: 100%;}
#footer .inner {padding-bottom: 100px;}

#footer .sitemap li{display: inline-block;padding: 20px 4.166%;}/*padding 80px;*/
#footer .sitemap li a {color: #666;}
#footer .f_logo {padding: 90px 0 60px 0;}
#footer address {white-space: pre;line-height: 2;color: #999;}
#footer .none {display: none;}
/* Tablets*/

@media all and (min-width : 950px) and (max-width : 1200px) {
  #footer .sitemap li{;padding: 10px 2%;}
}

/* Mobile */
@media all and (max-width : 949px) {
    #footer .sitemap li{;padding: 10px 1%;}
    #footer address {white-space: normal;text-align: left;padding-left: 40px;padding-top: 20px;}
    #footer .none {display: block;}
    #footer .f_logo {display: none;}
}
